<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3 class="bg-primary p-1 text-white">LRG reports list</h3>
  <div class="my-1">
		<input class="form-control" #todoText placeholder="please enter the release name to filter"/>
		<button class="btn btn-primary mt-1" (click)="getSpecificLrgReports(todoText.value)">
		Filter
		</button>
	</div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Release</th>
        <th>LRG Report</th>
        <th>Emma Report</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of getSpecificLrgReports(todoText.value) let j = index">
        <td>{{ j + 1 }}</td>
        <td>{{report.release}}</td>
        <td><a target="_blank" href="http://slc10wqr.us.oracle.com/{{report.reportLink}}/test-report.html">LRG</a></td>
         <td><a target="_blank" href="http://slc10wqr.us.oracle.com/{{report.reportLink}}/coverage.html">coverage</a></td>
        <td>{{report.date}}</td>
       </tr>
    </tbody>
    <div class="form-inline float-left mr-1">
		<select class="form-control" [value]="reportsPerPage"
		(change)="changePageSize($event.target.value)">
		<option value="3">3 per Page</option>
		<option value="4">4 per Page</option>
		<option value="6">6 per Page</option>
		<option value="8">8 per Page</option>
		</select>
		</div>
		<div class="btn-group float-right">
			<button *ngFor="let page of getPageNumbers()" (click)="changePage(page)"
			class="btn btn-outline-primary"
			[class.active]="page == selectedPage">
			{{page}}
		</button>
	</div>
  </table>

